.header {
  background: #f3f3f3;
  color: #1c1b1b;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.btn {
  width: 280px;
  height: 40px;
  background-color: #2f80ed;
  border: 2px solid white;
}
.card-title {
  color: #1c1b1b;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-description {
  color: rgba(28, 27, 27, 0.6);
  font-size: 20px;
  font-weight: 600;
}
.description {
  display: flex;
  justify-content: space-between;
  color: rgba(28, 27, 27, 0.6);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.btn {
  width: 310px;
  height: 40px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600px;
}

.card {
  width: 312px;
  height: 502px;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  flex-wrap: wrap;
  padding: 10px;
}
.cart {
  width: 312px;
  height: auto;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 40px;
}

.credit-time {
  color: #2f80ed;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}
.credit-heading {
  color: #1c1b1b;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
